.about_us {
  margin-bottom: 50px;
}

.about_us-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 40px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: center;
  }

  &::before {
    @extend %separator;
    top: 0px;
  }
}

.about_us-image {
  width: 100%;

  margin: auto;
  max-height: 494px;
  object-fit: contain;
  border-radius: 10px;

  @media screen and (min-width: 450px) {
    width: 50%;
  }
}

.about_us-card {
  position: relative;
  padding-left: 0px;
  padding-top: 38px;
  @media screen and (min-width: 450px) {
    padding-left: 24px;
  }
  @media screen and (min-width: 1000px) {
    padding-left: 84px;
  }
}

.about_us-header {
  color: var(--color-primary-text2);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 9px;

  @media screen and (min-width: 450px) {
    font-size: 20px;
    margin-bottom: 23px;
  }
}

.about_us-description {
  color: var(--color-secondary-text);

  margin-bottom: 41px;

  @media screen and (min-width: 800px) {
    font-size: 16px;
  }
}

.about_us-social {
  position: absolute;
  top: 14px;
  right: 0;
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 600px) {
    position: relative;
    top: 0px;
  }
}

.about_us-social_item {
  & a {
    fill: #1d8dcd;

    @media screen and (min-width: 600px) {
      width: 52px;
      height: 52px;
    }

    &:hover,
    &:focus {
      fill: var(--color-hover);
    }
  }

  & svg {
    @media screen and (min-width: 600px) {
      width: 52px;
      height: 52px;
    }
  }

  &:not(:last-child) {
    margin-right: 11px;
  }
}
