.confirmWindow {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 400px;
  height: 200px;

  padding: 20px;
}

.text {
  margin-bottom: 20px;
}

.buttonsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
}
