@font-face {
  font-weight: 300;
  font-family: 'E-Ukraine';
  src: url('../../fonts/e-Ukraine/e-Ukraine-Light.otf') format('opentype');
}

@font-face {
  font-weight: 400;
  font-family: 'E-Ukraine';
  src: url('../../fonts/e-Ukraine/e-Ukraine-Regular.otf') format('opentype');
}

@font-face {
  font-weight: 700;
  font-family: 'E-Ukraine';
  src: url('../../fonts/e-Ukraine/e-Ukraine-Bold.otf') format('opentype');
}

@font-face {
  font-weight: 800;
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
